<footer class="footer">
    <div class="container border">
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted">&copy; Walter Blacc, Inc</p>
            </div>
            <div class="col-sm-4" align="center">
                <p class="text-muted">
                    <a href="https://twitter.com/walterblacc">
                        <img src="~/Images/icons/Twitter_logo_white_32.png">
                    </a>
                    <a href="https://www.facebook.com/people/Walter-Blacc/100009318759151" style="margin-left:25px; margin-right:25px">
                        <img src="~/Images/icons/FB-f-Logo__white_29.png" />
                    </a>
                    <a href="http://instagram.com/walter.blacc?ref=badge">
                        <img src="~/Images/icons/Instagram_icon_32.png" />
                    </a>
                </p>                
            </div>


            

            <div class="col-sm-4">
                <p class="pull-right text-muted"><a href="#">Back to top</a></p>
            </div>
        </div>
    </div>
</footer>

<script>window.twttr = (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function (f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));</script>