<footer class="footer">
    <div class="container border">
        <div class="row">
            <div class="col-sm-4">
                <p class="text-muted">&copy; Walter Blacc, Inc</p>
            </div>
            <div class="col-sm-4" align="center">
                <p class="text-muted">
                    <a href="espn.com">
                        <img src="~/Images/icons/Twitter_logo_blue_32.png">
                    </a>
                    <a href="espn.com" style="margin-left:25px; margin-right:25px">
                        <img src="~/Images/icons/FB-f-Logo__blue_32.png" />
                    </a>
                    <a href="http://instagram.com/pthelusma?ref=badge" class="ig-b- ig-b-32">
                        <img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" />
                    </a>
                </p>                
            </div>
            <div class="col-sm-4">
                <p class="pull-right text-muted"><a href="#">Back to top</a></p>
            </div>
        </div>
    </div>
</footer>

<script>window.twttr = (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function (f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));</script>